<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-3"></div>
      <div class="col-lg-8">
        <div id="heat-body"><h1>This is Your Profile</h1></div>
      </div>
    </div>
  </div>
</div>
<div class="profile">
  <div class="container">
    <div class="row">
      <div clo-lg-4>
          <div class="card">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
        
                  <div>
                     <img class="img-thumbnail" src="http://i.imgur.com/xrJQxMD.png" alt="">
                      
                
                      <div class="list-group">
                          <button type="button" class="list-group-item list-group-item-action active">
                           Informations
                          </button>
                          <button type="button" class="list-group-item list-group-item-action">Name: Issam Drmas</button>
                          <button type="button" class="list-group-item list-group-item-action">Email: imdrmas@gmail.com</button>
                          <button type="button" class="list-group-item list-group-item-action">Telephone: 07 58 35 07 68</button>
                          <button type="button" class="list-group-item list-group-item-action" disabled>Address: Paris</button>
                        </div>
                  </div>
                </div>
              </div>
            </div>
           <div class="col-lg-8">
              <div class="card cards">
                  <div class="card-header">
                      <h2>Your Articles</h2>
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <div class="row">
                         <div class="col-lg-6">

                            <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="https://i.pinimg.com/736x/06/ee/90/06ee90ff08bfe596cbe9aed9c50d67c3.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h4 class="card-title"> Title Article</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                           </div>
                      </div>
                      <div class="col-lg-6">          
                          <div class="card-deck">
                           <div class="card">
                             <img class="card-img-top" src="https://imgfast.net/users/1417/42/47/16/avatars/90-26.jpg" alt="Card image cap">
                               <div class="card-body">
                                 <h4 class="card-title">Title Article</h4>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                          </div>               
                       </div>
                      </div>
                    </div>
                      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                  </div>
                </div>
           </div>
      </div>
    </div>
  </div>
